body {
    background-color: black;
    font-size: 12px;
    font-family: Verdana, "Verdana CE",  Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    color: #000000;  
    margin: 10px;
}

h1 {
    font-family: Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    border-bottom: 1px solid #AFAFAF; 
    font-size:  16px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    color: #D20005;
}

a:link, a:visited {
    color: black;
    font-weight : bold;
    text-decoration: none;
}

a:link:hover, a:visited:hover  {
    color: black;
    font-weight : bold;
    text-decoration : underline;
}

.card {
    margin-left: 500px;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows : 210px 210px 80px;
    grid-template-areas : "image" "text" "stats";
    font-family: roboto;
    background: white;
    box-shadow: 5px 5px 15px;
    text-align: center;
}

.card-image {
    grid-area: image;
    background-size: cover;
}

.card-text {
    grid-area: text;
    margin: 25px;
}

.card-text p {
    color: grey;
    font-size: 15px;
    font-weight: 300;
}

.card-text h2 {
    margin-top: 0px;
    font-size: 28px;
}

.card-stats {
    grid-area: stats;
    display: grid;
    grid-template-columns : 1fr 1fr 1fr;
    grid-template-rows : 2fr;
    background: black;
}

.card-stats .stat {
    display: flex;
    align-items: center; 
    flex-direction: column;
    padding: 10px;
    color: white;
}

.card-stats .type {
    font-size: 11px;
    font-weight: 300;
    text-transform: uppercase;
}

.card-stats .value {
    font-size: 22px;
    font-weight: 500;
}

.card-stats .border {
    border-left: 1px solid black;
    border-right: 1px solid black;
}


*{
    margin-left: 2px;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
.wrapper {
    display: flex;
    position: relative;
}
.wrapper .sidebar {
    position: fixed;
    width: 200px;
    height: 100%;
    background: #f2f5f7;
    padding: 30px 0;
}
