*{
    margin: 0px;
    padding: 0px;
    font-family: "Open Sans", sans-serif;
    box-sizing: border-box;
}

body h1 {
    margin-left: 2%;
    font-size: 23px;
    font-weight: 500;
}

.sidebar {
    position: fixed;
    top: 14%;
    left: 0px;
    width: 16%;
    height: 75;
    white-space: nowrap;
}

.sidebar p {
    margin-left: 10%;
}

.sidebar h2 {
    margin-left: 15%;
    font-size: 20px;
    font-weight: 500;
}

.sidebar:hover {
    position: fixed;
}

.sidebar-item {
    list-style-type: none;
    margin-left: 14%;
    padding: 5px;
}

.sidebar-item a {
    font-weight: normal;
    font-size: 15px;
}

.sidebar-item a:hover {
    text-decoration: none;
    font-weight: normal;
    color: grey;
}

/*Esta clase sirve cuando hay 1 o 3 articulos*/
.relleno {
    margin-bottom: -30%;
}

/*Esta clase sirve para cuando hay dos articulos*/
.relleno2 {
    margin-bottom: -148px;
}

/*PRODUCTO 1*/
.product-card{
    width: 25%;
    margin-left: 30%;
    margin-top: 10%;
    margin-bottom: -7%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    border: 2px solid;
    padding: 8px 24px;
    border-radius: 15px;
}

.product-card h1 {
    font-size: 22px;
    margin-bottom: 4px;
}

.product-card p {
    margin-bottom: 4px;
    font-size: 13px;
    color: #bbb;
}

.product-pic img {
    width: inherit;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -10px;
}

.product-info {
    display: flex;
    align-items: center;
    margin-top: 25px;
}

.product-price {
    color: black;
    font-size: 23px;
}

.product-button1 {
    margin-left: 100%;
    background-color: black;
    width: 150px;
    text-decoration: none;
    border: 1px solid;
    padding: 4px 14px;
    border-radius: 20px;
    transition: .4s linear;
}

.product-button1 p {
    color: white;
}

/*PRODUCTO 2*/
.product-card2{
    width: 25%;
    margin-left: 57%;
    margin-top: -38%;
    margin-bottom: 40.9%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    border: 2px solid;
    padding: 8px 24px;
    border-radius: 15px;
}

.product-card2 h1 {
    font-size: 22px;
    margin-bottom: 4px;
}

.product-card2 p {
    margin-bottom: 4px;
    font-size: 13px;
    color: #bbb;
}

.product-button2 {
    margin-left: 100%;
    background-color: black;
    width: 150px;
    text-decoration: none;
    border: 1px solid;
    padding: 4px 14px;
    border-radius: 20px;
    transition: .4s linear;
}

.product-button2 p {
    color: white;
}

/*PRODUCTO 3*/
.product-card3{
    width: 25%;
    margin-left: 84%;
    margin-top: -79%;
    margin-bottom: 82%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    border: 2px solid;
    padding: 8px 24px;
    border-radius: 15px;
}

.product-card3 h1 {
    font-size: 22px;
    margin-bottom: 4px;
}

.product-card3 p {
    margin-bottom: 4px;
    font-size: 13px;
    color: #bbb;
}

.product-button3 {
    margin-left: 100%;
    background-color: black;
    width: 150px;
    text-decoration: none;
    border: 1px solid;
    padding: 4px 14px;
    border-radius: 20px;
    transition: .4s linear;
}

.product-button3 p {
    color: white;
}

.product-button1:hover {
    transform: scale(1.06);
}

.product-button2:hover {
    transform: scale(1.06);
}

.product-button3:hover {
    transform: scale(1.06);
}
